@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  min-height: 100%;
  background-color: #f5f5f4;
}

a {
  color: inherit;
  text-decoration: none;
}
